.header-container {
  background-color: black;
  color: #F2F2F2;
  text-align: center;
  padding: 2rem;
}

.header-container h1 {
  color: #D8BA83;
}

.header-logo {
  width: 25%;
  height: auto;
  margin-bottom: 1rem;
}