
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

 h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

p, a, li {
    font-family: 'Lato', sans-serif;
}